language: rust
script:
matrix:
  include:
    - rust: stable
      install:
        - rustup component add rustfmt
      script:
        - cargo build
        - cargo test
        - cargo fmt -- --check
    - rust: nightly
      script:
        - cargo build
        - cargo test
  fast_finish: true
